{
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "prettier", // npm module eslint-plugin-prettier
    "import", // npm module eslint-plugin-import
    "typescript-sort-keys"
  ],
  "extends": [
    "airbnb-base", // npm module eslint-config-airbnb-base
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier" // npm module eslint-config-prettier
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "no-unsafe-any": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-debugger": "error",
    "no-console": "off",
    "no-var": "error",
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", { "afterColon": true }],
    "no-multi-spaces": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-duplicates": ["error", { "considerQueryString": true }],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling"]],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": {
          "memberTypes": [
            // Index signature
            "signature",

            // Fields
            "public-instance-field",
            "protected-instance-field",
            "private-instance-field",
            "public-static-field",
            "protected-static-field",
            "private-static-field",
            "public-abstract-field",
            "protected-abstract-field",
            "field",

            // Constructors
            "public-constructor",
            "protected-constructor",
            "private-constructor",
            "constructor",

            // Getters
            "public-instance-get",
            "protected-instance-get",
            "private-instance-get",
            "public-static-get",
            "protected-static-get",
            "private-static-get",
            "public-abstract-get",
            "protected-abstract-get",
            "get",

            // Setters
            "public-instance-set",
            "protected-instance-set",
            "private-instance-set",
            "public-static-set",
            "protected-static-set",
            "private-static-set",
            "public-abstract-set",
            "protected-abstract-set",
            "set",

            // Methods
            "public-instance-method",
            "protected-instance-method",
            "private-instance-method",
            "public-static-method",
            "protected-static-method",
            "private-static-method",
            "public-abstract-method",
            "protected-abstract-method",
            "method"
          ],
          "order": "alphabetically"
        }
      }
    ],
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/default-param-last": ["off"],
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error"
  }
}
